{
	"sftp":{
		"host" : "ilopezchamorro.com",
	    "username" : "u80819885-pfc",
	    "password" : "Antonio2015."
	},
	"mysql":{
		"dev":{
			"dbname": "bookingfy",
			"user" : "root",
		    "pass" : "root",
		    "host" : "localhost"
		},
		"pro":{
			"dbname": "db575335531",
			"user" : "dbo575335531",
		    "pass" : "Antonio2015.",
		    "host" : "db575335531.db.1and1.com"
		}
	}
}